:root {
  --primary-color: rgb(189, 231, 255);
  --secondary-color: rgb(6, 164, 255);
  --accent-color: rgb(120, 207, 203);
  --accent-hover: rgb(0, 255, 242);
  --accent-active: rgb(255, 170, 251);
  --button-color: rgb(219, 225, 228);
}

* {
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.everything-box {
    width: 150px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

ul {
    padding: 0;
    list-style-type: none;
}

button {
    margin: 4px;
    width: 100px;
    border: var(--accent-color) solid 1px;
    border-radius: 10px;
}

button:hover {
    border: var(--accent-hover) solid 1px;
    cursor: pointer;
}

button:active {
    border-color: var(--accent-active);
}

.loading-card-container {
    position: fixed;
    width: 0;
    top: 60px;
    left: 50%;
}

.loading-card {
    position: relative;
    width: 300px;
    height: 100px;
    margin-left: -150px;
    background-color: rgb(221, 223, 224);
    border: rgb(135, 255, 255) solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hidden {
    display: none;
}

@media all and (max-width: 500px) {
    button {
        transform: scale(1.3);
    }
}